section{
    display: grid;
    justify-content: center;
    grid-template-columns: 20px 20px 20px;
    grid-template-rows: 20px 20px 20px; 
    gap: 60px; 
}
.container{
    display: flex;
    align-items:center;
    align-content: center;
    justify-content: center;
    padding-top: 40px;
}
.celda{
    border: 2px solid black; 
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 40px;
    height: 60px;
    width: 60px;
}
